.placeholder-container {
    display: auto;
    flex-direction: column;
    justify-content: center;
    background-color: #282c34;
    color: white;
    height: 100vh;   
}

.accordion-body {
    width: 80vw;
}

@keyframes breathe {
    0% {color: black;}
    50% {color: #969696;}
    100% {color: black;}
}

.placeholder-header {
    animation-name: breathe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: calc(1px + 2vmin);
}

.accordion-header {
    font-size: calc(1px + 2vmin);
    
}

.accordian {
    --bs-accordian-border-color: blue;
}

.accordian-button:not(expanded){
    background-color: #282c34;
}

.accordian-button:not(collapsed){
    color: #ffffff;
    background-color: #ff003c;
    box-shadow: inset 0- 1px 0 #ff003c
}