.placeholder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #282c34;
    color: white
    
}

.accordion-body {
    width: 80vw;
}

@keyframes breathe {
    0% {color: black;}
    50% {color: #969696;}
    100% {color: black;}
}

.placeholder-header {
    animation-name: breathe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: calc(1px + 2vmin);
}

.accordion-header {
    font-size: calc(1px + 2vmin);
    
}

